.game-container {
    border: 1px solid black;
    border-radius: 15px;
    width: 45%;
    margin: auto;
    margin-bottom: 20px;
    background-color: cadetblue;
}

.game-name {
    font-size: 24px;
}

.game-rating {
    font-style: italic;
    font-size: 18px;
}
.game-date {
    font-style: italic;
    color: white;
    font-size: 16px;
}
.game-img {
    margin-bottom: 20px;
}
